<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lance's Movies</title>
  <style>
    body{
      background-color: palegoldenrod;
    }
  </style>
</head>
<body>
<h1>Lance's Movies</h1>
<ul>
    <% @movies.each do |movie|  %>
      <li><h3><%= movie.title %></h3></li>
      <li><%= movie.director %></li>
      <li><%= movie.year %></li>
    <% end %>
</ul>
<a href="/movies/new"> Add New Movie</a>
</body>
</html>